// Variables
$color-main: #5270A7
$color-red: #B8745C
$color-highlight: #809A60
$white: #EDD3EA
$black: #171D29

@font-face
  font-family: digital-7
  src: url("../fonts/digital-7 (mono).ttf") //See src/fonts/readme.txt

body
  background-color: $black
#root
  position: fixed
  top: 33%
  left: 50%
  transform: translate(-50%, -50%)
#App
  font-family: digital-7, "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace
  color: $black
  width: 320px
  background-color: $black + #444
  padding: 5px
  border-radius: 10px

footer
  position: absolute
  color: $white
  text-align: center
  width: 100%
  margin-top: 10px

#screen
  background-color: $color-highlight
  border-radius: 5px
  #formula
    font-size: x-large
    padding-left: 5px
  #display
    text-align: right
    padding-right: 5px
    font-size: xx-large
    font-weight: bold

.btn-sm, .btn-lg
  font-size: xx-large
  margin: 1px
  border: none
  border-radius: 3px
  background-color: $black + #aaa

.num
  color: $color-main

#clear
  color: $color-red

#button-pad
  display: grid
  grid-template-areas: "clear-all clear-all clear-entry clear-entry" "seven eight nine divide" "four five six multiply" "one two three subtract" "zero decimal equals plus"
  #clear-entry
    grid-area: clear-entry
  #clear
    grid-area: clear-all
  #zero
    grid-area: zero
  #one
    grid-area: one
  #two
    grid-area: two
  #three
    grid-area: three
  #four
    grid-area: four
  #five
    grid-area: five
  #six
    grid-area: six
  #seven
    grid-area: seven
  #eight
    grid-area: eight
  #nine
    grid-area: nine
  #decimal
    grid-area: decimal
  #equals
    grid-area: equals
  #divide
    grid-area: divide
  #multiply
    grid-area: multiply
  #subtract
    grid-area: subtract
  #plus
    grid-area: plus

